<{extends file="adminmodel.html"}>
<{block name="data"}>
<div id="content">
		<div class="item"><div class="title">商品分类列表</div>
<div class="title-btn left"><a href="__ROOT__/index.php/admin/category/addcategory">添加分类</a></div>
<div class="data-tree clear">
<{foreach $category as $key=>$value }>
        <div ><{$key}> <a class='del' cid='<{$value}>' style="cursor: pointer;">删除</a></div>
<{/foreach}>
</div>
</div>
</div>
<script type="text/javascript">
$(".del").each(function(){   //删除购物车商品
			$(this).click(function(i){
			console.log('eeee');
				if(confirm("该分类下的所有商品也将全部删除，你确定要删除吗？")){
					$cid=$(this).attr("cid");
					$item=$(this).closest("div");
					$.ajax({
	                        url: "__ROOT__/index.php/admin/category/delcategory",
	                        data: {"cid":$cid,},
	                        dataType:"json",
	                        success: function (msg) {
	                        	if (msg!=0){
	                        		$item.remove();
	                        	}
	                        },
	                    });
					}
				});
		});
</script>
<{/block}>